<div class='content'>
  <nz-card style='width: 300px;margin-top: 16px' [nzLoading]='loading'
           [nzActions]='[actionSetting, actionEdit, actionEllipsis]'>
    <ng-container *ngIf='!loading'>
      <nz-card-meta

        [nzAvatar]='avatarTemplate'
        [nzTitle]="employee.firstName + ' ' + employee.lastName"
        [nzDescription]='employee.position'
      ></nz-card-meta>
      <nz-divider [nzDashed]=' true'></nz-divider>
      <nz-list>
        <nz-list-item>
          <span nz-typography>Date Of Birth</span>
          {{ employee.dateOfBirth * 1000 | date   }}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography>Start Date</span>
          {{employee.startDate   * 1000 | date }}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography>End Date</span>
          {{employee.endDate  * 1000 | date}}
        </nz-list-item>
        <nz-list-item>
          <span nz-typography>Created At</span>
          {{employee.createdAt  * 1000 | date}}
        </nz-list-item>
      </nz-list>
    </ng-container>
  </nz-card>


  <ng-template #avatarTemplate>
    <nz-avatar nzSrc='https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png'></nz-avatar>
  </ng-template>
  <ng-template #actionSetting>
    Settings
    <i nz-icon nzType='setting'></i>
  </ng-template>
  <ng-template #actionEdit>
    Edit
    <i nz-icon nzType='edit'></i>
  </ng-template>
  <ng-template #actionEllipsis>
    More
    <i nz-icon nzType='ellipsis'></i>
  </ng-template>
</div>
<!-- <footer>
  <button (click)="update()">Update</button>
</footer> -->
